/****** BASE STYLES ******/
body {
    font-family: 'Muli', sans-serif;
    color: white;
}

#header {
    height: 800px;
}

#portfolio {
    height: 1220px;
}

#about {
    height: 520px;
}

#contact {
    height: 365px;
}

#copyright {
    height: 60px;
}
/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}


/****** HEADER ******/

header {
    background: url('../img/hero-image.jpg') no-repeat #bc986a;
    background-position: 50%;
}

nav ul {
    word-spacing: 30px;
    font-size: 20px;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

.header-text {
    text-align: center;
    color: white;
    padding-top: 10px;
}

.alt-color-italics {
    color: #659dbd;
    font-style: italic;
    font-size: 30px;
    padding-left: 242px;

}
.creative-thinker {
    padding-left: 10px;
}
.getting-things {
    padding-left: 180px;
}

.done {
    padding-left: 313px;
}

h1 {
     font-variant: small-caps;
     font-size: 60px;
     margin: 0px;
     padding-top: 50px;
}

h2 {
    padding: 350px 30px 20px 350px;
    font-size: 25px;
    text-align:left;
    line-height: 40px;
    margin: 0px;
}


/******* PORTFOLIO ******/

#portfolio {
    background-color: #faf6ed;
}

h3 {
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #bc986a;
    margin: 0px;
}

.thumbnails img {
    padding-bottom: 50px;
    padding-left: 40px;
    width: 500px;
    height: 300px;
}

a {
    text-decoration: none;
    color: #bc986a;
}

#amelita-world-tour {
    padding: 50px 20px 0px 20px;
}

#jubilee-austen {
    padding: 180px 20px 0px 20px;
}

#bespoke-pyro-co {
    padding: 180px 20px 0px 20px;
}

h4 {
    text-align: center;
    font-size: 25px;
    color:  #bc986a;
}

p {
    font-size: 20px;
    text-align: center;
    color: #659dbd;
}

/****** ABOUT ******/

#about {
    padding-bottom: 30px;
    background-color: #fbeec1;
}

p#about-me-paragraph {
    color: #659dbd;
    padding-top: 50px;
    padding-right: 40px;
}

#about img {
    padding-left: 40px;
    height: auto;
    width: 500px;
}

/****** FOOTER ******/
#contact {
    background-color: #8d8741;

}

h3#contact-text {
    color: white;
    margin: 0px;
}

p#email a {
    text-decoration: none;
    color: white;
}

h4.small-contact-headers {
    color: white;
    margin-top: 0px;
}

h4.small-contact-headers#hang-out {
    margin-left: 20px;
    margin-bottom: 0px;
}

p#contact-paragraph {
    color: white;
    margin-left: 20px;
    margin-bottom: 0px;

}

#icon-git {
    float: left;
    padding-left: 95px;
    color: white;
}

#icon-twitter {
    float: left;
}

#icon-linkedin {
    float: left;
}

.icons img {
    padding-right: 30px;
    height: 50px;
    width: auto;
}

#copyright {
    background-color:#659dbd;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

h5#copyrightp {
    color: white;
    text-align: center;
}